extends layout

block content
  h1.title= title
  p.light Designer, developer, and homebrewer living in beautiful Boulder, CO.
  
  br
  p Social:  
  p
    a(href="http://twitter.com/patrickryan") @patrickryan
    br
    a(href="http://instagram.com/pn") @pn
  
  br
  p Projects:
  p
    a(href="http://simplebeerreviews.com") Simple Beer Reviews
    br
    a(href="http://dontscamme.com") Don't Scam Me
