extends layout

block content
  
  .section-row
    h1.title Hi, I'm Patrick.
    p.light Senior Engineer (at WorkBright), Designer, and Homebrewer living in beautiful Boulder, CO – originally from Texas.
    
    br
    p.title Previously at:
    p.light Whimseybox, VaynerMedia, Gowalla, AMD
    br
    p Brands I've designed for:
    p.light Pepsi, Lipton, Barclays, Campbell's, V8, New Jersey Nets, 6pm, Pure Leaf, Green Mountain Coffee
    br
    p Social:  
    p
      a(href="http://twitter.com/patrickryan") Twitter
      span.light  @patrickryan
      br
      a(href="http://instagram.com/pn") Instagram
      span.light  @pn
      br
      a(href="https://www.facebook.com/patrickryan") Facebook
      span.light  /patrickryan
    
    br
    p Projects:
    p
      a(href="http://simplebeerreviews.com") Simple Beer Reviews
      span.light  (2016)
      br
      a(href="http://dontscamme.com") Don't Scam Me
      span.light  (2016)
      br
      a(href="https://www.youtube.com/watch?v=8fkbX6PbxLE") iPhone Loop Controller
      span.light  (2007)
    br
    p Blogs:
    a(href="https://medium.com/@reserve_society") Reserve Society
    span.light  (about beer)