.dib {
    display: inline-block;
}

.b {
    font-weight: bold;
}

.fw6 {
    font-weight: 600;
}

.lh-title {
    line-height: 1.25;
}

.gray {
    color: #777;
}

.pa3 {
    padding: 1rem;
}

.ml0 {
    margin-left: 0;
}

.mv2 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.f6 {
    font-size: .875rem;
}

@media screen and (min-width: 30em) {
    .pa5-ns {
        padding: 4rem;
    }
}

dt {
  margin-right: 10px
}

.gradient-blue-text {
    background:  linear-gradient(90deg,#895cf2,#461fef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

